In [50]:
# Creating DataFrame
# Calculate the total purchase amount for each customer

In [51]:
import findspark
findspark.init()

In [52]:
from pyspark.sql import SparkSession
import os,sys

In [53]:
spark = SparkSession.builder.appName('Day01').getOrCreate()

In [54]:
data = [(1,100,'2023-01-15'),
  (2,150,'2023-02-20'),
  (1,200,'2023-03-10'),
  (3,50,'2023-04-05'),
  (2,120,'2023-05-15'),
  (1,300,'2023-06-25')
]

columns = ["customer_id","purchase_amount","purchase_date"]
df = spark.createDataFrame(data=data, schema = columns)

In [55]:
df.show()

+-----------+---------------+-------------+
|customer_id|purchase_amount|purchase_date|
+-----------+---------------+-------------+
|          1|            100|   2023-01-15|
|          2|            150|   2023-02-20|
|          1|            200|   2023-03-10|
|          3|             50|   2023-04-05|
|          2|            120|   2023-05-15|
|          1|            300|   2023-06-25|
+-----------+---------------+-------------+

In [56]:
# Group by the "Name" column and calculate the average score for each group
result = df.groupBy("customer_id").agg({"purchase_amount": "sum"})

# Show the result
result.show()

+-----------+--------------------+
|customer_id|sum(purchase_amount)|
+-----------+--------------------+
|          1|                 600|
|          2|                 270|
|          3|                  50|
+-----------+--------------------+

## Answer

In [57]:
#Calculate the total purchase amount for each customer
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [58]:
spark_day01 = SparkSession.builder.appName("CustomerPurchaseAnalysis").getOrCreate()

In [59]:
data = [(1,100,'2023-01-15'),
  (2,150,'2023-02-20'),
  (1,200,'2023-03-10'),
  (3,50,'2023-04-05'),
  (2,120,'2023-05-15'),
  (1,300,'2023-06-25')
]

columns = ["customer_id","purchase_amount","purchase_date"]
df = spark.createDataFrame(data=data, schema = columns)

In [60]:
df.show()

+-----------+---------------+-------------+
|customer_id|purchase_amount|purchase_date|
+-----------+---------------+-------------+
|          1|            100|   2023-01-15|
|          2|            150|   2023-02-20|
|          1|            200|   2023-03-10|
|          3|             50|   2023-04-05|
|          2|            120|   2023-05-15|
|          1|            300|   2023-06-25|
+-----------+---------------+-------------+

In [61]:
total_purchase_per_customer = df.groupBy("customer_id").agg(F.sum("purchase_amount").alias("total_purchase_amount"))

In [62]:
total_purchase_per_customer.show()

+-----------+---------------------+
|customer_id|total_purchase_amount|
+-----------+---------------------+
|          1|                  600|
|          2|                  270|
|          3|                   50|
+-----------+---------------------+